

@import "variables";

* {
  box-sizing: border-box
}

.project-index-body {
  background: $grey;
}

.project-index-body {
  #sideMenu {
    background: #518ff5;
    max-width: 250px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    h2 {
      text-align: center;
      color: 	#f5bc1a;
      font-size: 30px;
      letter-spacing: 1px;
      font-family: 'Fredoka One', cursive;
    }
    nav {
      padding-top: 80px;
      a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 28px 30px;
        font-weight: 300;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
        &:hover {
          
          // background: #27a768;
          border-left: 5px solid #27a768;
          // padding: 20px 30px 15px 25px;
        }
        .fas, .fal {
          color: #f5bc1a;
          font-size: 1.7rem;
          margin-right: 0.8rem;
          display: inline-block;
          width: 30px;
          position: relative;
          top: 2px;
        }
        &.active {
          background: #184da3;
          border-left: 5px solid #27a768;
          padding: 15px 30px 15px 25px;
        }
      }
    }
  }
  header {
    margin-left: 250px;
    padding: 20px;
    background: white;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-around;
    .search-area {
      display: inline-block;
      width: 50%;
      
      .fas {
        color: $greyDark;
        margin-right: 20px;
      }
  
      input[type="text"] {
        background: #fff;
        border: 1px solid;
        font-size: 1.3rem;
        border-radius: 5px;
        color: black;
        padding: 10px;
        font-weight: 100;
        width: 50%;
        transition: all 0.5s ease-in-out;
      }
    }
  
    .user-area {
      a {
        color: #1b1b1b;
        padding-right: 100px;
        text-decoration: none;
        vertical-align: top;
        font-size: 17px;
        letter-spacing: 1px;
        height: 30px;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
  .project-heading {
    margin-left: 350px;
    display: inline-block;
    margin-top: 3%;
    color: #1b1b1b;
    font-family: 'Roboto', sans-serif;
  }
  .user-project-list {
    margin-left: 360px;
    h2 {
      color: $orange;
      font-family: 'Lato', sans-serif;
      margin-top: -10px;
    }
    .project-box {
      display: inline-block;
      .inner-project-box {
        margin-top: 30px;
        border: 1.5px solid;
        padding: 25px 25px 25px 25px;
        background-color: white;
        margin-right: 20px;
        li {
          font-size: 17px;
          line-height: 2em;
          font-family: 'Lato', sans-serif;
          list-style-type: none;
          .purple-link {
            color: #673ab7;
          }
          span {
            font-size: 17px;
            font-weight: bold;
            margin-right: 5px;
          }
        }
      }
    }
  }
}


