
@import "variables";

  * {
    box-sizing: border-box
  }
  
  .show-project-page {
    font-family: 'Roboto', sans-serif;
    background: $grey;
    #sideMenu {
      background: #518ff5;
      max-width: 280px;
      width: 280px;
      position: absolute;
      top: 0;
      bottom: 0;
      h2 {
        text-align: center;
        color: 	#f5bc1a;
      }
    
      nav {
        padding-top: 100px;
        a{
          display: block;
          color: white;
          text-decoration: none;
          padding: 28px 30px;
          font-weight: 300;
          font-size: 16px;
          transition: all 0.3s ease-in-out;
          &:hover {
            // background: #27a768;
            border-left: 5px solid #27a768;
            // padding: 20px 30px 15px 25px;
          }
          .fas, .fal {
            color: #f5bc1a;
            font-size: 1.7rem;
            margin-right: 0.8rem;
            display: inline-block;
            width: 30px;
            position: relative;
            top: 2px;
          }
          &.active {
            background: #184da3;
            border-left: 5px solid #27a768;
            padding: 15px 30px 15px 25px;
          }
        }
      }
    }
    .user-project {
      margin-left: 450px;
      display: flex;
      justify-content: space-between;
      h1 {
        color: $greyDark;
        margin-top: 40px;
        font-size: 48px;
      }
      .description {
        margin-top: 50px;
        h2 {
          color: $orange;
        }
        .description-content {
          width: 650px;
          height: 250px;
          border: solid;
          text-indent: 30px;
          padding-top: 20px;
          background-color: white;
        }
      }
      .project-time {
        margin-top: 3%;
        margin-right: 13%;
        line-height: 2em;
        text-decoration: none;
        font-size: 17px;
      }
    }
    .collaborators {
      margin-top: 70px;
      .purple-link {
        color: $purple;
        text-decoration: none;
      }
      h3 {
        color: $orange;
      }
      .c-user {
        font-size: 20px;
      }
    }
  }

  .task-note-wrapper {
    display: flex;
    justify-content: space-between;
    .tasks {
      margin-left: 450px;
      margin-top: 30px;
      h3 {
        
      }
      .inner-task {
        list-style-type: none;
        .purple-link {
          color: $purple;
          text-decoration: none;
        }
        li {
          text-decoration: none;
          margin-top: 20px;
          margin-right: 20px;
        }
      }
    }
    .notes {
      margin-right: 10%;
      .purple-link {
        color: $purple;
        text-decoration: none;
      }
    }
  }

  

  

  
