
@import "variables";

  * {
    box-sizing: border-box
  }
  
  .show-project-page {
   
    background: $grey;
    #sideMenu {
      background: #518ff5;
      max-width: 250px;
      width: 250px;
      position: absolute;
      top: 0;
      bottom: 0;
      border-right: 1px solid;
      h2 {
        text-align: center;
        color: 	#f5bc1a;
        font-size: 30px;
        letter-spacing: 1px;
        font-family: 'Fredoka One', cursive;
      }
      nav {
        padding-top: 80px;
        a{
          display: block;
          color: white;
          font-family: 'Montserrat', sans-serif;
          text-decoration: none;
          padding: 28px 30px;
          font-weight: 300;
          font-size: 16px;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: #497ddf;
            border-left: 5px solid #27a768;
            // padding: 20px 30px 15px 25px;
          }
          .fas, .fal {
            color: #f5bc1a;
            font-size: 1.7rem;
            margin-right: 0.8rem;
            display: inline-block;
            width: 30px;
            position: relative;
            top: 2px;
          }
          &.active {
            background: #184da3;
            border-left: 5px solid #27a768;
            padding: 15px 30px 15px 25px;
          }
        }
      }
    }
    .user-project {
      margin-left: 350px;
      display: flex;
      justify-content: space-around;
      h1 {
        margin-top: 40px;
        font-size: 40px;
        color: #1b1b1b;
        font-family: 'Roboto', sans-serif;
      }
      .description {
        margin-top: 50px;
        h2 {
          color: $orange;
          font-family: 'Lato', sans-serif;
        }
        .description-content {
          width: 600px;
          height: 250px;
          border: 1px solid;
          text-indent: 30px;
          padding-top: 20px;
          background-color: white;
          font-family: 'Lato', sans-serif;
          font-size: 18px;
        }
      }
      .project-time {
        margin-top: 3%;
        margin-right: 15%;
        line-height: 2em;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
      }
    }
    .collaborators {
      margin-top: 70px;
      .purple-link {
        color: $purple;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
      }
      h3 {
        color: $orange;
        font-family: 'Lato', sans-serif;
      }
      .c-user {
        font-size: 20px;
        font-family: 'Lato', sans-serif;  
      }
    }
  }

  .task-note-wrapper {
    display: flex;
    justify-content: space-around;
    .tasks {
      margin-left: 350px;
      margin-top: 30px;
      h3 {
        font-family: 'Roboto', sans-serif;
        color: $orange;
      }
      .inner-task {
        list-style-type: none;
        .purple-link {
          color: $purple;
          text-decoration: none;
          font-family: 'Lato', sans-serif;
          font-size: 18px;
        }
        li {
          text-decoration: none;
          margin-top: 20px;
          margin-right: 20px;
          font-family: 'Lato', sans-serif; 
          font-size: 18px;
          span {
            color: $purple;
          }
          a {
            margin-right: 10px;
            text-decoration: none;
          } 
        }
      }
    }
    .notes {
      h3 {
        font-family: 'Lato', sans-serif;  
        color: $orange;
        margin-top: 40px;
      }
      li {
        font-family: 'Lato', sans-serif;  
        font-size: 18px;
        margin-bottom: 10px;
      }
      margin-right: 10%;
      .purple-link {
        color: $purple;
        text-decoration: none;
        font-family: 'Lato', sans-serif;  
      }
    }
  }

  

  

  
