<h1>Create New Task</h1>

<%= render partial: "tasks_form", locals: {submit_text: "Create Task"}%>

<br>
<br>
  <%= link_to "Home", users_path%>     <%= link_to "Return to Project Page", projects_path %>
   <%= link_to "Logout", "/logout", method: "DELETE"%>
