
/*************************************************
    MAIN
***************************************************/

.blue-wrapper {
  background-color: #518ff5;
  color: white;
  padding-top: 60px;
  padding-bottom: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.homepage-body {
  .main {
    padding: 30px;
    height: 550px;
    border-top: 1px solid;
    background: linear-gradient( rgba(95, 93, 93, 0.5), rgba(95, 93, 93, 0.6) ), url(../project-management.jpg) center 0/cover repeat-x;
    .main-headline {
      width: 750px;
      margin-left: 70px;
      margin-top: 50px;
      height: 450px;
      padding-left: 15px;
      h1 {
        font-size: 60px;
        line-height: 75px;
        letter-spacing: 2px;
        margin-top: 30px;
        color: white;
        font-family: 'Roboto', sans-serif;
      }
      #get-started {
        margin-top: 30px;
        margin-left: 30px;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
  .main-heading h1 {
    text-align: center;
    color: #673ab7;
  }
  .category {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
   
    margin: 0px auto;
    .box {
      padding-left: 130px;
      padding-right: 130px;
      
      i {
        font-size: 70px;
        color: rgb(247, 240, 240);
      }
      .box-phrase {
        padding-top: 20px;
        h3 {
          font-size: 20px;
          font-family: 'Montserrat', sans-serif;
        } 
      } 
    }
  }
}

/*************************************************
    ROW
***************************************************/

.row {
  margin: 0px auto;
  max-width: 1600px;
  .row-inner {
    display: flex;
    margin: 0px auto;
    .row-image-box {
      img {
        width: 550px;
        margin-top: 80px;
        margin-left: 10%;
      }
    }
    .row-content-box {
      padding: 10px 30px 0px 30px;
      h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
      }
      p {
        font-size: 17px;
        margin-left: 80px;
        line-height: 1.8em;
        text-indent: 30px;
        font-family: 'Lato', sans-serif;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

