<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects</title>
</head>
<body class="projects">

  <nav class="navigation-bar">
    <a href="/" class="logo">WePlan</a>
    <ul class="nav-links">
        <li><a href="/login" class="nav-link">Logout</a></li>
        <li><a href="/" class="nav-link">Home</a></li>
    </ul>
  </nav>
  
  <h1>Hello <%= current_user.name.capitalize%>!</h1>
  <h2>Welcome to your Project Planner!</h2>
  <ul>
    <h3>Today is: <%= Time.now.strftime("%A, %B %d, %Y") %></h3>
    <h3>What would you like to work on?</h3>
    <ul>
      <h3><%=link_to "See Projects", projects_path %></h3>
    </ul>
  </ul>

<%= link_to "Logout", "/logout", method: "DELETE"%>
</body>
</html>









