<h1>Hello <%= current_user.capitalize_stuff%>!</h1>
<h2>Welcome to your Project Planner!</h2>
<ul>
  <h3>Today is: <%= Time.now.strftime("%A, %B %d, %Y") %></h3>
  <h3>What would you like to work on?</h3>
  <ul>
    <h3><%=link_to "See Projects", projects_path %></h3>
  </ul>
</ul>

<%= link_to "Logout", "/logout", method: "DELETE"%>
