
.login-body {
  .login-header {
    height: 80px;
    background-color: #518ff5;
    border: solid 1px;
    letter-spacing: 2px;
    h1 {
      margin-top: 10px;
      margin-left: 10%;
      color: white;
      font-size: 35px;
    }
  }
  .form-box {
    border: solid 1px;
    width: 500px;
    height: 500px;
    margin-left: 5%;
    .form-inner {
      padding: 30px 0px 0px 45px;
      margin-top: 15px;
      input {
        display: block;
        margin-bottom: 35px;
      }
      input[type="text"], input[type="password"]  {
        width: 280px;
        padding-top: 8px;
        margin-top: 10px;
      }
      input[type="submit"] {
        color:white ;
        background-color:#de5347;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        border: 1px solid;
        width: 150px;
      }
      label {
        font-size: 20px;
      }
    }
  }
  .login-row {
    display: flex;
    justify-content: space-between;
    .login-image-box {
      margin-right: 15%;
      padding-top: 40px;
      img {
        width: 600px;
      }
    }
  }
}