/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 
 */

body {
  /* max-width: 1400px; */
  margin: 0px auto;
  
}

.btn {
color: white;
font-weight: 700;
border: 0;
margin-bottom: 10px;
margin-right: 4px;
letter-spacing: 0.5px;
text-transform: uppercase;
border-radius: 4px;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
}

.btn-large {
  padding: 15px 25px 15px 25px;
}

.btn-hotpink {
  background: #d9534f;
}

.space {
  height: 80px;
}

.space-small {
  height: 50px;
}

/************************************************* 
    NAVIGATION BAR
***************************************************/
 
.navigation-bar {
  width: 100%;  
  height: 80px; 
  background-color: white;
  margin-top: 10px;
}

.navigation-bar ul {
  display: block;
  float: right;
  width: 250px;
  margin-right: 30px;
  
}

.navigation-bar ul li {
  display: inline-block;
  margin-right: 70px;
}

.navigation-bar ul li a {
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.logo {
  display: inline-block;
  color: #d9534f;
  width: 70px;
  font-size: 28px;
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
  margin-top: 20px;
}

/************************************************* 
    MAIN
***************************************************/

.main { 
  padding: 30px; 
  height: 500px;
  background: linear-gradient( rgba(95, 93, 93, 0.5), rgba(95, 93, 93, 0.6) ), url(project-management.jpg) center 0/cover repeat-x;
}


.main .container { 
  width: 750px; 
  margin-left: 70px;
  margin-top: 50px;
  height: 400px;
  padding-left: 15px;
}

.main h1 { 
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 1.5px;
  margin-top: 30px;
  color: white;
}

#get-started {
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}

/************************************************* 
    Main-Header
***************************************************/

.main-heading h1 {
  text-align: center;
}

/************************************************* 
    Category
***************************************************/

.category {
  text-align: center;
}

.category .box {
  display: inline-block;
  margin-right: 150px;
}

.category i {
  font-size: 80px;
  color: #d9534f;
}










