<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

<nav class="navigation-bar">
    <a href="#" class="logo">WeWork</a>
    <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
<div class="main">
    <div class="container main-headline">
        <h1>Manage projects <br> from start to finish</h1>
        <a href="/signup" class="btn btn-hotpink btn-large" role="button" id="get-started">Get Started</a>
    </div>
</div>
<div class="space">
</div>

<div class="main-heading">
    <h1>Everthing You Need for Efficient Project Management</h1>
</div>

<div class="space-small">
</div>

<div class="category">
    <div class="box">
        <div class="icon-box">
            <i class="far fa-copy"></i>
        </div>
        <div class="box-phrase">
            <h3>Organize Projects & Plan</h3>
        </div>
    </div>
    <div class="box">
        <div class="icon-box">
            <i class="fas fa-project-diagram"></i>
        </div>
        <div class="box-phrase">
            <h3>Enable Collaboration</h3>
        </div>
    </div>
    <div class="box">
        <div class="icon-box">
            <i class="fas fa-stream"></i>
        </div>
        <div class="box-phrase">
            <h3>Streamline Workflow</h3>
        </div>
    </div>
</div>



  
</body>
</html>