<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Lato:400,700|Montserrat:400,700|Roboto:400,700" rel="stylesheet">
</head>
<body class="homepage-body">

<nav class="navigation-bar">
    <a href="#" class="logo">WePlan</a>
    <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
<div class="main">
    <div class="container main-headline">
        <h1>Manage projects <br> from start to finish</h1>
        <a href="/signup" class="btn btn-hotpink btn-large" role="button" id="get-started">Get Started</a>
    </div>
</div>


<div class="blue-wrapper">
    <div class="category">
        <div class="box">
            <div class="icon-box">
                <i class="far fa-copy"></i>
            </div>
            <div class="box-phrase">
                <h3>Organize Projects & Plan</h3>
            </div>
        </div>
        <div class="box">
            <div class="icon-box">
                <i class="fas fa-project-diagram"></i>
            </div>
            <div class="box-phrase">
                <h3>Enable Collaboration</h3>
            </div>
        </div>
        <div class="box">
            <div class="icon-box">
                <i class="fas fa-stream"></i>
            </div>
            <div class="box-phrase">
                <h3>Streamline Workflow</h3>
            </div>
        </div>
    </div>
</div>

<div class="space">
</div>

<div class="row">
    <div class="row-inner">
        <div class="row-image-box">
            <img src="https://images.techhive.com/images/article/2014/12/project_management-100536263-primary.idge.jpg" alt="">
        </div>
        <div class="row-content-box">
            <h1>Make more time for the work that <br> matters most</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare, nulla ac interdum pharetra, magna lorem mattis ligula, sit amet luctus mauris tortor id velit. Proin aliquam porta facilisis.  Nulla leo massa, commodo vel arcu non, pretium commodo quam. Suspendisse vitae justo egestas, molestie dolor sit amet, tempor magna. Nunc purus est, cursus pretium elementum sit amet, dictum quis lacus.</p>
            <p>Proin egestas augue nec pharetra viverra. Cras volutpat, mi et feugiat facilisis, velit libero eleifend nibh, rutrum suscipit ante odio quis libero. Phasellus quis orci id est dignissim dictum non ac nibh.  Nam suscipit lacinia sodales. Ut sed lacus placerat, eleifend tortor nec, sagittis lectus. Donec euismod at nibh a fringilla. Etiam pulvinar neque aliquam, ultricies sapien sed, maximus ex.</p>
        </div>
    </div>
</div>



  
</body>
</html>