
@import "variables";

* {
  box-sizing: border-box
}

.dashboard-body {
  background: $grey;
}

#sideMenu {
  background: #518ff5;
  max-width: 250px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 1px solid;
  h2 {
    text-align: center;
    color: 	#f5bc1a;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Fredoka One', cursive;
  }

  nav {
    padding-top: 80px;
    a{
      display: block;
      color: white;
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
      padding: 28px 30px;
      font-weight: 300;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        background: #497ddf;
        // border-left: 5px solid #27a768;
      }
      .fas, .fal {
        color: #f5bc1a;
        font-size: 1.7rem;
        margin-right: 0.8rem;
        display: inline-block;
        width: 30px;
        position: relative;
        top: 2px;
      }
      &.active {
        background: #184da3;
        padding: 15px 30px 15px 25px;
      }
    }
  }
}

header {
  margin-left: 250px;
  padding: 20px;
  background: white;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  .search-area {
    display: inline-block;
    width: 50%;
    
    .fas {
      color: $greyDark;
      margin-right: 20px;
    }

    input[type="text"] {
      background: #fff;
      border: 1px solid;
      border-radius: 5px;
      font-size: 1.3rem;
      color: black;
      padding: 10px;
      font-weight: 100;
      width: 50%;
      transition: all 0.5s ease-in-out;
    }
  }
  .user-area {
    a {
      color: #1b1b1b;
      padding-right: 100px;
      text-decoration: none;
      vertical-align: top;
      height: 30px;
      font-size: 17px;
      letter-spacing: 1px;
      color: black;
      font-family: 'Roboto', sans-serif;
    }
  }
}

#content-area {
  margin-left: 250px; 
  .greeting-row {
    display: flex;
    justify-content: space-between;
    .greeting {
      margin-top: 2%;
      margin-left: 10%;
      color: #1b1b1b;
      h1 {
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif;
      }
      h2 {
        padding-top: 15px;
        font-family: 'Lato', sans-serif;
      }
    }
    .time-box {
      margin-top: 3%;
      margin-right: 10%;
    }
    h3 {
      font-size: 18px;
      color: $greyDark;
      font-family: 'Lato', sans-serif;
    }
  }
}

.project-status-list { 
  margin-left: 22%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  .not-started {
    color: #de5347;
    .status-content {
      background-color: #de5347;
    }
  }
  .in-progress {
    color: #f5bc1a;
    .status-content {
      background-color: #f5bc1a;
    }
  }
  .complete {
    color: #27a768;
    .status-content {
      background-color: #27a768;
    }
  }
  .project-status-box {
    margin-right: 90px;
  }
  .status-inner {
    width: 280px;
    h4 {
      font-size: 20px;
      padding-bottom: 3px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: $purple;
    }
    .status-content {
      border: solid 1px black;
      height: 150px;
      // background-color: white;
      p {
        color: white;
        font-size: 18px;
        text-align: center;
        margin-top: 25px;
        font-family: 'Lato', sans-serif;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}



  


















// .dashboard-body {
//   .sidebar {
//     width: 60px;
//     position: absolute;
//     top: 60px;
//     bottom: 0;
//     background-color: #518ff5;
//     border-right: 1px solid;
//   }
//   .navigation-bar {
//     background-color: #518ff5;
//     margin-top: 0px;
//     height: 60px;
//     border-bottom: 1px solid;
//     .logo {
//       padding-left: 30px;
//       margin-top: 8px;
//       font-weight: bold;
//       color: #de5347;
//     }
//     ul {
//       display: block;
//       text-align: right;
//     }
//   }
//   .main-content {
//     margin-left: 60px; 
//     .greeting-row {
//       display: flex;
//       justify-content: space-between;
//       .greeting {
//         margin-left: 10%;
//         margin-top: 5%;
//       }
//       .time-box {
//         margin-top: 5%;
//         margin-right: 10%;
//       }
//     }
//     .work-on-box {
//       margin-left: 10%;

//     }
//   }
// }

